@import 'tailwindcss';
@plugin "@iconify/tailwind4";


@theme inline {

    --color-slime: var(--color-emerald-600);

}

@font-face {

    font-family: "GeistMono";
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url("$lib/fonts/GeistMono-VariableFont_wght.ttf") format("truetype");

}

.moldy {
    --c: #1dd3b01a;
    text-shadow:
        1px 1px var(--c),
        2px 2px var(--c),
        3px 3px var(--c),
        4px 4px var(--c),
        5px 5px 2px var(--c);
    transform: skew(-15deg);
}

@theme {
    
    --font-sans: GeistMono, ui-sans-serif, system-ui, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

    --animate-jitter: jitter 0.3s ease-in-out infinite;

    @keyframes draw {
        50% {
            stroke-dashoffset: 0;
        }
        100% {
            stroke-dashoffset: -1000;
        }
    }

    @keyframes jitter {
        10% {
            transform: translate(-1px, -2px) scale(1.01, 1.01);
        }
        20% {
            transform: translate(2px, 1px) scale(.99, .99);
        }
        30% {
            transform: translate(-3px, -4px) scale(1.01, 1.01);
        }
        40% {
            transform: translate(1px, 2px) scale(1, 1);
        }
        50% {
            transform: translate(0px, -1px) scale(.98, .98);
        }
        60% {
            transform: translate(-1px, 2px) scale(1.02, 1.02);
        }
        70% {
            transform: translate(-1px, -3px) scale(1, 1);
        }
        80% {
            transform: translate(2px, 4px) scale(.99, .99);
        }
        90% {
            transform: translate(-4px, -2px) scale(1.1, 1.1);
        }
        100% {
            transform: translate(2px, 0px) scale(.96, .96);
        }
    }

}
